.username-input,
.password-input,
.id-input,
.fullName-input,
.phoneNumber-input,
.repeatPassword-input {
  font-size: 18px;
  font-weight: 500;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 15px;
}

.form-group label {
  flex: 1 1 100%;
  margin-bottom: 5px;
}

.form-group input {
  flex: 1 1 calc(50% - 10px); /* Adjusts to half width minus margin */
  margin-right: 10px;
  box-sizing: border-box;
}

.form-group input:last-child {
  margin-right: 0; /* No margin for the last input */
}

.form-group input.full-width {
  flex: 1 1 100%; /* Full width input */
}

.accordion {
  border: 3px solid wheat;
  border-radius: 10px;
  margin-bottom: 5px;
  background-color: #a2d2ff;
  padding: 5px;
}

.accordion-header {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #a2d2ff;
  background-color: #a2d2ff;
  color: #333;
}

.accordion-content {
  padding: 10px;
  font-weight: 600;
  background-color: #eaf4ff;
  display: flex;
  flex-direction: column;
}

.accordion-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
  width: calc(100% - 10px);
  font-size: 0.9rem;
  background-color: #fff;
  border: none;
  user-select: none;
}

.accordion-item-label {
  flex: 1;
  margin-left: -10px;
  margin-top: 10px;
}

.accordion-item-checkbox {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.accordion .accordion {
  margin-left: 20px;
}

.accordion-duel .accordion-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.accordion-duel .accordion-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 5px;
  background-color: #fff;
  box-sizing: border-box;
  margin: 0;
}

.btn-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.btn-container button,
.btn-container a {
  font-size: 25px;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
}

.btn-container a {
  text-decoration: none;
  display: flex;
}

.btn-container .btn-back {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

